body { 
  font-family: 'SourceCodeProRegular', sans-serif; 
  padding: 2rem; 
  background: #f4f4f4; 
  overflow: auto;
}

header { 
  background: white; 
  color: black; 
  padding: 2rem; 
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 2rem; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  max-width: 95%;
}

.main-grid { 
  display: flex; 
  gap: 2rem; 
  flex-wrap: wrap; 
}

form, #previewMap, .event-list { 
  flex: 1; 
  min-width: 300px; 
  background: white; 
  border: 1px solid black;
  border-radius: 4px;
  padding: 2rem; 
}

.event-list{
  margin-top: 2rem;
}

input, select, textarea, button { 
  width: 100%; 
  margin-bottom: 0.5rem; 
  padding: 0.5rem; 
  font-size: 1rem; 
}

button { 
  background: white; 
  color: black; 
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer; 
}

.event-item { 
  border-bottom: 1px solid #ddd; 
  padding: 0.5rem 0; 
}

.event-item:last-child { 
  border-bottom: none; 
}

.no-events { color: #888; 
  font-style: italic; 
  margin-top: 1rem; 
}